<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Senders
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Senders</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-9" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			        </div><!-- /.row -->
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-10">
	                           <div class="row">
					               <div class="col-lg-12">
							              <div class="box box-primary">
		                                <div class="box-header">
		                                    <h3 class="box-title">Search</h3>
		                                </div><!-- /.box-header -->
		                           
				                           <div class="box-body">  
							                	<form role="form" method="post" action="index.php">
														<input type="hidden" name="apartado" value="modsender"/>
														<div class="form-group">
											                <label>Number</label>
											                <input type="txt" class="form-control" placeholder="Enter data" name="number" id="number" value="<?=$value?>">
											         </div>
											         
														<button type="submit" class="btn btn-default bg-blue" name="search" value="search">Search</button>
														<button type="submit" class="btn btn-default bg-red pull-right" onclick="return checkSender(this);" name="deleteoffline" value="deleteoffline">Delete Offline Senders</button>
												</form>
												<br />												
											</div><!--box-body-->
			          					</div><!--box-primary-->
			          				</div>
			          </div><!-- /.row -->
	                            
	                            <?php            
					             if(isset($senders) && !empty($senders))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of groups");
					                $tabla->inicioTabla(array("N&deg;","Number","Password","State","Sent Today","Enable","Action"));
					                          
					                $i=1;                
					                foreach($senders as $n)
					                {  
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $i.'<input type="hidden" name="id" value="'.$n->id.'" />
					                            <input type="hidden" name="apartado" value="modsender" />',
					                            $n->numero,
					                            $n->password,
					                   			 ($n->estado == 'Online')?'<span style="color:#00A65A;">Online</span>':'<span style="color:#F56954;">Offline</span>',
					                   			 $n->enviados,
					                            ($n->habilitado == 1)?"Yes":"No",
					                            '<div class="botones_columna"><button type="submit" class="btn btn-default bg-yellow" style="margin-right: 4px;" name="profile_picture">Profile Picture</button><button type="submit" class="btn btn-default bg-green" name="editar">Edit</button>
					                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="holas(\'modsender\',\''.$n->id.'\')">Delete</button>
					                            </div>'
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $i++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					              <?php
						               if($value == "")
						               {
												echo "<h4>No senders on the database.</h4>";
											}else
											{
												echo "<h4>The searched sender doesn't exist.</h4>";
											}
					              }
					              ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>
