<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Edit Settings
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Edit Settings</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                 <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			        </div><!-- /.row -->
					<!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                            <?php 
						        $f = new Formularios(); 
						        $f->cabecera('Settings','Complete the form to edit the settings.'); 
						        $f->inicioForm('post','index.php');  
						        $f->addHiddenInput('apartado','settings');
						        $f->addHiddenInput('id',$settings->id);						        
						        
						        $f->addInput('Site Name','site_name',$settings->site_name,'txt');        		
						        $f->addInput('Currency','currency',$settings->currency,'txt');
						        $f->addInput('Max message per sender in one day','max_msg_sender',$settings->max_msg_sender,'txt');				        
						        $f->addInput('Timezone','timezone',$settings->timezone,'txt');
						        $f->addInput('WhatsApp Version','whatsapp_version',$settings->whatsapp_version,'txt');
						        $f->addInput('Strart sending time ( HH:mm )','hora_inicio',$settings->hora_inicio,'txt');
						        $f->addInput('End sending time ( HH:mm )','hora_fin',$settings->hora_fin,'txt');
						        $f->addInput('Is Online Process ( HH:mm )','is_online_time',$settings->is_online_time,'txt');
						        $f->addInput('Listen Process ( HH:mm )','listen_time',$settings->listen_time,'txt');
						        
						        $f->addSubmit('Edit','aceptar','aceptar');
						        $f->addClean('Clean');
						        $f->finForm();

						        $f->generarForm();
						        ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>