<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done" onload="remove()">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Edit Profile Picture Senders
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Settings</li>
                    </ol>
                </section>
                
           
               
					
					<section class="content">
					
					     <div class="row">
			            <div class="col-md-8" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			       </div><!-- /.row --> 
                
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-md-8">
	                     <?php
	                      $nombre = 'user_'.$user->id;
					          $ruta = $hd_imagenes.'users'.$pait;
					          $foto = ManejoArchivos::existe_foto($nombre,$ruta);
					          if($foto != "")
					          {
	                     ?>
	                     <div class="col-lg-12">
	                     <img id="img_destino" src="img/users/<?=$foto?>" style="margin-bottom: 15px;max-width: 150px !important;">
	                     </div>
	                     <?php
	                     }
	                     ?>
	                     
	                        <?php 
						        $f = new Formularios(); 
						        $f->cabecera('Sender','Upload an image (Min Size 140px X 140px) to update the profile picture.'); 
						        $f->inicioFormFile('post','index.php');  
						        $f->addHiddenInput('apartado','settings_user');
						        $f->addHiddenInput('id',$user->id);
						        
						        $f->addInput('Profile Picture','profile_img','','file'); 
						        
						        $f->addSubmit('Save','save_profile_picture','save_profile_picture');
						        $f->addClean('Clean');
						        $f->finForm();

						        $f->generarForm();
						        ?>
	                        
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
               

            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
	
	<script>
		function remove(){
			$("#profile_img").removeClass("form-control");
		}
		
		function mostrar(input,div) {
		 if (input.files && input.files[0]) {
		  var reader = new FileReader();
		  reader.onload = function (e) {
		   $(div).attr('src', e.target.result);
		  }
		  reader.readAsDataURL(input.files[0]);
		 }
		}
		 
		$("#profile_img").change(function(){
		 mostrar(this,'#img_destino');
		});
	</script>
</body>
</html>