<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
	
	<script type='text/javascript'>
	
function TypeOption(id)
{
	document.getElementById("type").value=id;
	if(id=='Text')
	{
		if(!$('#optaudio').is(':hidden')){$('#optaudio').hide();}
		if(!$('#optpic').is(':hidden')){$('#optpic').hide();}
		if(!$('#optvideo').is(':hidden')){$('#optvideo').hide();}
		if($('#opttext').is(':hidden')){$('#opttext').show();}	
	}
	if(id=='Pic')
	{
		if(!$('#optaudio').is(':hidden')){$('#optaudio').hide();}
		if($('#optpic').is(':hidden')){$('#optpic').show();}
		if(!$('#optvideo').is(':hidden')){$('#optvideo').hide();}
		if(!$('#opttext').is(':hidden')){$('#opttext').hide();}
	}
	if(id=='Audio')
	{
		if($('#optaudio').is(':hidden')){$('#optaudio').show();}
		if(!$('#optpic').is(':hidden')){$('#optpic').hide();}
		if(!$('#optvideo').is(':hidden')){$('#optvideo').hide();}
		if(!$('#opttext').is(':hidden')){$('#opttext').hide();}	
	}
	if(id=='Video')
	{
		
		if(!$('#optaudio').is(':hidden')){$('#optaudio').hide();}
		if(!$('#optpic').is(':hidden')){$('#optpic').hide();}
		if($('#optvideo').is(':hidden')){$('#optvideo').show();}
		if(!$('#opttext').is(':hidden')){$('#opttext').hide();}	
	}
}

	</script>
	
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Single Message
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Single Message</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
						 <div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result)
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  The message has been sent succesfully.
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result || isset($error)){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?php if(isset($result)){?>
			                  An error has ocurred while sending the message.
			                	<?php }else{ echo $error;}?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			        </div><!-- /.row -->
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
                            <!-- general form elements disabled -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Fields</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <form  role="form" action="index.php?apartado=singlemessage" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="send" value="ok" />
                                       
                                            
                                    <div class="form-group" id="err_1">
                                         <label>Mobile Number <span style="color:#999; font-size:12px">[ Without + or 00 , with country code ]</span> </label> 
                                        <div class="input-group" >
                                            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                            <input type="text" class="form-control" name="contacto" placeholder="Mobile Number" id="1">
                                        </div>
                                     </div>
                                        <script>
														TypeOption('Text');
													</script>
                                        <div class="form-group" id="err_2">
                                            <label onClick="TypeOption('Text')"><input type="radio" name="tipo" value="text" id="Text" checked > Message <span style="color:#999; font-size:12px">[ Max 2000 Char ]</span> </label>
                                             <div id="opttext" style="display:inline">
                                            <textarea class="form-control" rows="3" placeholder="Enter Message.." name="mensaje" id="2" ></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" id="err_3">
                                        <div class="form-group" >
                                        
                                            <label onClick="TypeOption('Pic')"><input type="radio" name="tipo" value="imagen" id="Pic" > Image <span style="color:#999; font-size:12px">[ jpeg,jpg - 500kb Max Size ]</span> </label>
                                            <div id="optpic" style="display:none">
                                            <div id="pic" ><img src="message_record/imagen/test.jpg" class="img-responsive" style="max-height: 150px;margin-bottom: 10px;" id="img_destino"/></div>
                                            <input type="file" name="imagen" id="imagen" width="50px" />
                                            <textarea class="form-control" rows="3" placeholder="Enter Caption.." name="caption_imagen" id="2" style="margin-top: 10px;"></textarea>
                                            <div id="status43" style="color:red" ></div>&nbsp;
                                            </div>
                                           
                                        </div>
                                      </div>
                                        <div class="form-group" id="err_4">
                                        <div class="form-group" >
                                        
                                            <label onClick="TypeOption('Audio')"><input type="radio" name="tipo" value="audio" id="Audio" > Audio <span style="color:#999; font-size:12px">[ mp3 - 1 MB Max Size ]</span> </label>
                                            <div id="optaudio" style="display:none">
                                            <div id="audio_upload" >
	                                            <audio id="audio_destino" controls="controls" height="50px" width="50px"  src="message_record/audio/test.mp3">
	  														  </audio>
  														  </div>
                                            <input type="file" name="audio" id="audio" width="50px" />
                                            
                                            <div id="status44" style="color:red" ></div>&nbsp;
                                            </div>
                                           
                                        </div>
                                    </div>
                                     <div class="form-group" id="err_5">
                                        <div class="form-group" >
                                        
                                            <label onClick="TypeOption('Video')"><input type="radio" name="tipo" value="video" id="Video" > Video <span style="color:#999; font-size:12px">[ mp4 - 4 MB Max Size ]</span> </label>
                                            <div id="optvideo" style="display:none">
                                            <div id="video_upload" >
	                                            <video width="300" height="180" src="message_record/video/test.mp4"  id="video_destino" controls>
	  														  </video>
  														  </div>
                                            <input type="file" name="video" id="video" width="50px" />
                                            <textarea class="form-control" rows="3" placeholder="Enter Caption.." name="caption_video" id="2" style="margin-top: 10px;" ></textarea>
                                            <div id="status45" style="color:red" ></div>&nbsp;
                                            </div>
                                           
                                        </div>
                                    </div>
 												<input type="hidden" name="type" id="type" value="Text" />
                                    
                                    
                                    <div class="box-footer">
                                        <input type="submit" class="btn btn-primary" value="Send Message">
                                    </div>
                                      </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
	


<?php require_once("views/footer/footer.phtml"); ?>


<script language="javascript" type="text/javascript">
function mostrar(input,div) {
 if (input.files && input.files[0]) {
  var reader = new FileReader();
  reader.onload = function (e) {
   $(div).attr('src', e.target.result);
  }
  reader.readAsDataURL(input.files[0]);
 }
}
 
$("#imagen").change(function(){
 mostrar(this,'#img_destino');
});

$("#audio").change(function(){
 mostrar(this,'#audio_destino');
});

$("#video").change(function(){
 mostrar(this,'#video_destino');
});

</script>




</body>
</html>
