<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Single Messages
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Single Messages</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
					<div class="row">      		
				      <div class="col-md-8">
				           <div class="box box-primary">
				              <div class="box-header">
				                  <h3 class="box-title">Search</h3>
				              </div><!-- /.box-header -->
				         
				               <div class="box-body">  
											<form role="form" method="post" action="index.php">
										
												<input name="apartado" value="msgsended" type="hidden">												
									       		<input name="type" value="single" type="hidden">
												<div class="row">
													<div class="form-group col-md-6">
										                <label>From</label>
										                <input class="form-control" placeholder="Enter data" name="from" id="name" value="<?=$from?>" type="date">
										              </div>
										        
													<div class="form-group col-md-6">
										                <label>To</label>
										                <input class="form-control" placeholder="Enter data" name="to" id="number" value="<?=$to?>" type="date">
										            </div>
									            </div>
												<button type="submit" class="btn btn-default bg-blue" name="search" value="search">Search</button>
									        
										</form>
									
									</div><!--box-body-->
						</div><!--box-primary-->
					</div><!--col-lg-12-->
					</div><!--row-->				
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-12">
	                            <?php            
					              
					              
					              if(isset($single_messages) && !empty($single_messages))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of messages");

					                $tabla->inicioTabla(array("N°","Number","Date","Content","Type","Action"));
		
					                          
					                $i=1;  
					                $j=1;              
					                foreach($single_messages as $n)
					                {  
					                  if($n->type != 'text'){
					                  	$array_contenido = explode('message_record',$n->content);
					                  
					                  	if($n->type != 'audio'){
						                  	$array_contenido = explode(';',$array_contenido[1]);
						                  	$contenido = $array_contenido[0];
						                  	
						                  	//por si tiene acentos y eso con ;
											$caption = $array_contenido[1]; 
											if(count($array_contenido)>2){
												for($i=2;$i<count($array_contenido);$i++){
													$caption .= ';'.$array_contenido[$i];
												}
											}
											
						                  	$caption = ($caption != '')?'<p style="margin: 5px 0px 0px;">'.$caption.'</p>':$caption;
						                
						                }else{
											$contenido = $array_contenido[1];
											$caption = '';
										}	
					                  }
					                  
					                  
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $j.'<input type="hidden" name="id" value="'.$n->id.'" />',
					                            $n->number,
					                            $n->date,
					                            ($n->type == "text")?$n->content:'<a class="btn btn-default bg-blue" href="message_record'.$contenido.'" target="_blank">Show</a>'.$caption,
					                            $n->type,  
					                            '<button type="button" class="btn btn-default bg-red" name="borrar" onclick="redirectAction(\'msgsended\',\'borrarsingle\',\''.$n->id.'\',\'Are you sure you want to delete the message?\')">Delete</button>'         					                            
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $j++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h2>No single messages on the database.  </h2>  
					              <?php
					              }
					              ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>