<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done" onload="remove()">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Import Contact CSV
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Import Contact CSV</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-10" style="padding-left: 0px;">
			            <?php
			            if(isset($import_result))
			            {
			              ?>                          
			                <div class="alert alert-info alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <p style="color: green">Contacts imported successfully: <?=$import_result['imported_successfully']?></p>
			                  <div class="col-md-4" style="padding-left: 0px !important;">
			                  <p style="color: red">Contacts imported unsuccessfully: <?php echo substr_count($import_result['import_failed'],'<br/>');?></p>
			                  </div>
			                  <?php
			                  if((substr_count($import_result['import_failed'],'<br/>'))>0){
			                  echo '<div data-toggle="modal" data-target="#error_import" style="cursor:pointer;">See more...</div>';
			                  }?>
			                  <div style="clear:both;"></div>
			                </div>
			             <?php
			             }
			             ?>                
			            </div>
			        </div><!-- /.row -->
			        
			         <!-- Contact Form Modal -->
				    <div class="modal fade" id="error_import" tabindex="-1" role="dialog" aria-labelledby="error_import" aria-hidden="true">
				        <div class="modal-dialog">
				            <div class="modal-content">
				                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 5px 10px !important;">
				                    <span aria-hidden="true">x</span>
				                </button>
				                <div class="modal-body">
								<h4>Contacts imported unsuccessfully detail</h4>
								<hr>
								<p><?=$import_result['import_failed']?></p>
				                </div> <!-- *** end modal-body *** -->
				            </div> <!-- *** end modal-content *** -->
				        </div> <!-- *** end modal-dialog *** -->
				    </div> <!-- *** end Contact Form modal *** -->
			        
			        
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-10">
	                            <?php 
						        $f = new Formularios(); 
						        $f->cabecera('Import cotacts','Complete the form to add contacts to a group.'); 
						        $f->inicioFormFile('post','index.php');  

						        $f->addLabel('Custom Format (name)(1 coma)(phone): <br>name,phone<br>name2,phone2<br>...','custom');
						        $f->addLabel('Gmail Format: (name)(32 coma)(phone): <br>name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,phone<br>name2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,phone2<br>...','gmail');						        
						        $f->addHiddenInput('apartado','importgroup');						        
						        $f->addComboBox('Contact type','type',array("custom"=>"Custom","gmail"=>"Gmail"),'custom','change(this.value);');
						        $f->addComboBox('Group','id_group',$arr_grupos,0,'');
						        $f->addInput("Prefix (optional) ej: 54911",'prefijo','','text');
						        $f->addInput("Number of characters from the end (optional) ej: 8",'cant','','text');
						        $f->addInput("File CSV","csv","","file");       						        
						        
						        $f->addSubmit('Import','import','import');						        
						        $f->finForm();

						        $f->generarForm();
						        ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
	
	<script>
		function remove(){
			$("#csv").removeClass("form-control");
			$("#gmail").hide(0);
		}
		
		function change(value) {
			if(value == "gmail")
			{
				$("#custom").hide(1000);
				$("#gmail").show(1000);
			}
			if(value == "custom")
			{
				$("#gmail").hide(1000);
				$("#custom").show(1000);
			}
			if(value == 0)
			{
				$("#gmail").show(1000);
				$("#custom").show(1000);
			}
		};
		
		
	</script>	
		
	
</body>
</html>


