<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Contacts
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Contacts</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">            							
			            <?php
			            //Result of delete
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			           </div> 			            
			        </div><!-- /.row -->
           
     <div class="row">      		
      <div class="col-md-8">
           <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Search</h3>
              </div><!-- /.box-header -->
         
               <div class="box-body">  
							<form role="form" method="post" action="index.php" id="search_contacts">
						
								<input name="apartado" value="modcontact" type="hidden">
								<input name="id_user" value="1" type="hidden">
					        
								<div class="form-group">
					                <label>Groups</label>
						              <select class="form-control" name="group" onchange="javascript:">
						              	<option value="0"></option>
									  	<?php
									  	foreach($arr_grupos as $k=>$g)
									  	{
												?>
												<option value="<?=$k?>" <?php if($k == $id_group){echo "selected";} ?>><?php $group->id=$k;echo $g;?></option>
												<?php
										}
									  	?>
									  </select>									  
								</div>
					        
					        	<div class="row">
									<div class="form-group col-md-4" >
						                <label>Name</label>
						                <input class="form-control" placeholder="Enter data" name="name" id="name" value="<?=$name?>" type="txt">
						              </div>
						        
									<div class="form-group col-md-4">
						                <label>Number</label>
						                <input class="form-control" placeholder="Enter data" name="number" id="number" value="<?=$number?>" type="txt">
						              </div>
						              
						            <div class="form-group col-md-4" >
						                <label>WhatsApp Install</label>
						                <select class="form-control" name="whatsapp_install">
							              	<option value="0"></option>
							              	<option value="1" style="color:#00A65A;" <?php if($whatsapp_install == 'Yes'){echo "selected";} ?>>Yes</option>
							              	<option value="2" style="color:#F56954;" <?php if($whatsapp_install == 'No'){echo "selected";} ?>>No</option>
							              	<option value="3" style="color:#F39C12;" <?php if($whatsapp_install == 'Not yet verified'){echo "selected";} ?>>Not yet verified</option>
		
										  </select>
						              </div>
					            </div>
					        
								<button type="submit" class="btn btn-default bg-blue pull-left" name="search" value="search">Search</button>
					        	<button type="button" class="btn btn-default bg-red pull-right" name="delete_wa" value="delete_wa" onclick="borrar('modcontact')">Delete all contacts without WhatsApp</button>
					        	<div style="clear:both;"></div>
						</form>
					
					</div><!--box-body-->
		</div><!--box-primary-->
	</div><!--col-lg-8-->
	</div><!--row-->
           
            <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-10">
                            <div>
                            <?php 
                            if($total > CANTIDAD_ITEMS_PAGINA)	
                            {
							?>
                            	<h4>Pages - <i>Total(<?=$total?>)</i></h4>
                            	<ul class="pagination">
                            	<?php
                            	$style = "";
                            	if($pagina+1 != 1)
								{
                            	?>                            	
                            	<li><a href="<?=$requested_url?>&pag=<?=$pagina?>">&laquo;</a></li>                             	
                            	<?php
                            	}   
                            	$cant_total_paginas=ceil($total/CANTIDAD_ITEMS_PAGINA);                           	            
                            	if($pagina+1>$cant_total_paginas){$pagina=$cant_total_paginas-1;}
                            	$primero_a_mostrar=($pagina-9)>1?$pagina-9:1;
                            	$ultimo_a_mostrar=($pagina+9)<$cant_total_paginas?$pagina+9:$cant_total_paginas;
                            	if($ultimo_a_mostrar<20){$ultimo_a_mostrar=20;}
      	 						if($ultimo_a_mostrar>$cant_total_paginas){$ultimo_a_mostrar=$cant_total_paginas;}
                            	for($primero_a_mostrar;$primero_a_mostrar<=$ultimo_a_mostrar;$primero_a_mostrar++)
                            	{																													
									?>
									<li <?=$style?> <?php if($pagina+1==$primero_a_mostrar)echo 'class="active"' ?>><a href="<?=$requested_url?>&pag=<?=$primero_a_mostrar?>" ><?=$primero_a_mostrar?></a></li>
									<?php																		
								}
								if($pagina+1 != $cant_total_paginas)
								{
                            	?>                         	
                            			<li><a href="<?=$requested_url?>&pag=<?=$pagina+2?>">&raquo;</a></li>                            	
                            	<?php
                            	}
                            	?>
                            	</ul>
                            <?php
                            }
                            ?>
                            </div>
						 <?php         	       
					             if(isset($contacts) && !empty($contacts))
					              {					              						              	
					                $tabla = new Tablas();
					                $tabla->cabecera("List of contacts");
					                $tabla->inicioTabla(array("Number","Name","Phone","WhatsApp Install","Group","Action"));
					                          
					                //$i=($pagina == 0)?0:$pagina*CANTIDAD_ITEMS_PAGINA;
					                //$hasta = ($total<CANTIDAD_ITEMS_PAGINA)?$total-1:($i + CANTIDAD_ITEMS_PAGINA)-1;					                
					                //$hasta = ($hasta > $total)?$total-1:$hasta; //Control de minimo por pagina
					                //$j=$i+1;
					                $i=0;
					                
					                //Caso 2: pagina con cantidad < CANTIDAD_ITEMS_PAGINA
					                $cantidad_a_mostrar = (CANTIDAD_ITEMS_PAGINA*($pagina+1) > $total)?$total-CANTIDAD_ITEMS_PAGINA*($pagina):CANTIDAD_ITEMS_PAGINA*($pagina+1);
					                					                
					                //Caso 1: poca cantidad
					                $cantidad_a_mostrar = ($total < CANTIDAD_ITEMS_PAGINA)?$total:$cantidad_a_mostrar;
					                
					                //Caso 3 mitad
					                $cantidad_a_mostrar = ($cantidad_a_mostrar > CANTIDAD_ITEMS_PAGINA)?CANTIDAD_ITEMS_PAGINA:$cantidad_a_mostrar;
					                					                		                					              
					                $j = CANTIDAD_ITEMS_PAGINA * ($pagina+1) - CANTIDAD_ITEMS_PAGINA +1;			
					                               
					                for(;$i<$cantidad_a_mostrar;$i++)
					                {
					                  if($contacts[$i]->whatsapp_install == "Yes"){$Whatsapp_install ='<span style="color:#00A65A;">Yes</span>';}else{
					                  if($contacts[$i]->whatsapp_install == "No"){$Whatsapp_install ='<span style="color:#F56954;">No</span>';}else{$Whatsapp_install ='<span style="color:#F39C12;">Not yet verified</span>';}
					                  }
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $j.'<input type="hidden" name="id" value="'.$contacts[$i]->id.'" />
					                            <input type="hidden" name="apartado" value="modcontact" />',
					                            $contacts[$i]->name,
					                            $contacts[$i]->number,
					                            $Whatsapp_install,
					                            $contacts[$i]->GetGroupName(),
					                            '<div class="botones_columna"><button type="submit" class="btn btn-default bg-green" name="editar">Edit</button>
					                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="holas(\'modcontact\',\''.$contacts[$i]->id.'\')">Delete</button>
					                            </div>'
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $j++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h2>No contacts on the database.  </h2>  
					              <?php
					              }
					              ?>					             

                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>