<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Group
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Group</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                 <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			        </div><!-- /.row -->
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                            <?php            
					              
					              
					              if(isset($groups) && !empty($groups))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of groups");
					                $tabla->inicioTabla(array("Number","Name","Contacts","Action"));
					                          
					                $i=1;                
					                foreach($groups as $n)
					                {  
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $i.'<input type="hidden" name="id" value="'.$n->id.'" />
					                            <input type="hidden" name="apartado" value="modgroup" />',
					                            $n->name,
					                            $n->cant,
					                            '<div class="botones_columna"><button type="submit" class="btn btn-default bg-green" name="editar">Edit</button>
					                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="holas(\'modgroup\',\''.$n->id.'\')">Delete</button>
					                            </div>'
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $i++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h2>No groups on the database.  </h2>  
					              <?php
					              }
					              ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>
