<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Edit Contact
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Edit Contact</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
												
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                            <?php 
						        $f = new Formularios(); 
						        $f->cabecera('Contact','Complete the form to edit a contact.'); 
						        $f->inicioForm('post','index.php');  
						        $f->addHiddenInput('apartado','modcontact');
						        $f->addHiddenInput('id',$contact->id);
						        
						        $f->addComboBox('Group','id_group',$arr_grupos,$contact->id_group,'');
						        $f->addInput('Name','name',$contact->name,'txt');        						     
						        $f->addInput('Number','number',$contact->number,'txt');
						        $f->addComboBox('State','state',array(0=>'Blocked',1=>'Ok'),$contact->state,'');
						        
						        $f->addSubmit('Edit','aceptar','aceptar');
						        $f->addClean('Clean');
						        $f->finForm();

						        $f->generarForm();
						        ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>