<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Log Error
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Log Error</li>
                    </ol>
                </section>
				
				<section class="content">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-12">
                            	<form id="error_send_form" method="POST" action="index.php?apartado=error_send">                            			                            		                            	
		                            <?php            						              						              
						              if(isset($messages) && !empty($messages))
						              {
						              	?>
						              	<button onclick="redirect_to_accion_question('error_send','resendall','You are going to resend all logs, do you want to proceed?')" class="btn btn-default bg-green pull-left" name="search" value="search">Resend All</button>
		                            	<button onclick="submit_question(document.getElementById('error_send_form'),'resend','You are going to resend selected logs, do you want to proceed?')" class="btn btn-default bg-green pull-left" name="search" value="search">Resend Selected</button>
		                            	<button onclick="redirect_to_accion_question('error_send','deleteall','You are going to delete all logs, do you want to proceed?')" class="btn btn-default bg-red pull-left" name="search" value="search">Delete All</button>
		                            	<button onclick="submit_question(document.getElementById('error_send_form'),'delete','You are going to delete selected logs, do you want to proceed?')" class="btn btn-default bg-red pull-left" name="search" value="search">Delete Selected</button>                            		                            		                            
		                            	<div style="clear:both"></div>
		                            	<br />
						              	<input type="hidden" name="total" value="<?=count($messages)?>" />
						              	<?php
						                $tabla = new Tablas();
						                $tabla->cabecera("List of Log Error");
						                $tabla->inicioTabla(array("N&deg;","Select","User","Content","Contact","Type","Date","Sender","Exception"));

						                          
						                $i=1;                
						                foreach($messages as $n)
						                {  
						                  if($n->type != 'text'){
						                  	$array_contenido = explode('message_record',$n->contenido);
						                  	
						                  	if($n->type != 'audio'){
						                  		$array_contenido = explode(';',$array_contenido[1]);
						                  		$contenido = $array_contenido[0];
						                  		
						                  		//por si tiene acentos y eso con ;
												$caption = $array_contenido[1]; 
												if(count($array_contenido)>2){
													for($i=2;$i<count($array_contenido);$i++){
														$caption .= ';'.$array_contenido[$i];
													}
												}
												
							                  	$caption = ($caption != '')?'<p style="margin: 5px 0px 0px;">'.$caption.'</p>':$caption;
						                
						                  	}else{
												$contenido = $array_contenido[1];
												$caption = '';
											}
						                  }
						                  
						                  $tabla->agregarFilaForm("index.php","post",array(
						                            $i.'<input type="hidden" name="id_'.$i.'" value="'.$n->id.'" />
						                            <input type="hidden" name="apartado" value="error_send" />',
						                            '<center><input type="checkbox" name="check_'.$i.'" /></center>',
						                            $n->GetUsername(),
						                            ($n->type == "text")?$n->contenido:'<a class="btn btn-default bg-blue" href="message_record'.$contenido.'" target="_blank">Show</a>'.$caption,
						                            $n->GetContact(),
						                            $n->type,
						                            $n->fecha,
						                            $n->sender,
						                            $n->exception					                            
						                          ) 
						                    ); 
						                  ?>                                  
						                  <?php
						                  $i++;
						                }

						                $tabla->generarTabla();
						              }else{?>
						                <h3>No error logs on the database.  </h3>  
						              <?php
						              }
						              ?>
					              </form>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->
				</section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>