<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body>
	<?php require_once("views/body/cabecera.phtml"); ?>

	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        <?php echo count($user->GetAll())-1;?>
                                    </h3>
                                    <p>
                                        Users
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <a href="index.php?apartado=moduser" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        <?=$credits->GetCreditsSpendedOnMonth(date("n"));?>
                                    </h3>
                                    <p>
                                        Messsage Sent
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-email"></i>
                                </div>
                                <a href="index.php?apartado=msgsended" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        
                         <div class="col-lg-3 col-sm-6 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>
                                       <?php echo count($senders->GetOnline());?>
                                    </h3>
                                    <p>
                                        Senders
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <a href="index.php?apartado=modsender" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                       <?php echo count($packages_x_user->GetAll());?>
                                    </h3>
                                    <p>
                                        Pending Credit Request 
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="index.php?apartado=pendingcredits" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                       
                   </section>    

				                                     
                            <div class="col-md-12">
                            <section class="content-header">
				                    <ol class="breadcrumb">
				                        <li><i class="fa fa-envelope"></i> Message To Send</li>
                    				</ol>
				                </section>
	                            <?php            
					             if(count($campaign)!=0)
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("Message To Send");
					                $tabla->inicioTabla(array("N°","User","Group","Date","Content","Type","Sent to","Status","Action"));
					             
					             					                   
					                $i=1;
					                $j=1;
					                foreach($campaign as $c)
					                {  
					                  if($c->type != 'text'){
					                  	$array_contenido = explode('message_record',$c->content);
					                  
					                  	if($c->type != 'audio'){
						                  	$array_contenido = explode(';',$array_contenido[1]);
						                  	$contenido = $array_contenido[0];
						                  	
						                  	//por si tiene acentos y eso con ;
											$caption = $array_contenido[1]; 
											if(count($array_contenido)>2){
												for($i=2;$i<count($array_contenido);$i++){
													$caption .= ';'.$array_contenido[$i];
												}
											}
											
						                  	$caption = ($caption != '')?'<p style="margin: 5px 0px 0px;">'.$caption.'</p>':$caption;
					                  	}else{
											$contenido = $array_contenido[1];
											$caption = '';
										}	
					                 }
					                 
					                 $message->campaign_id = $c->id;
					                 $sent = $message->CountSent();
					             
					        
					                 if ( $c->status == "paused"){
			                            $action =  '<div class="botones_columna"><button type="submit" class="btn btn-default bg-green" style="margin-right: 4px;" name="start">Start</button>
			                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="redirectAction(\'home\',\'borrar\',\''.$c->id.'\',\'Are you sure you want to delete the campaign?\')">Delete</button>
			                            </div>';
			                           }else{
			                           	if($c->status == "in progress"){
											$action = '<div class="botones_columna"><button type="submit" class="btn btn-default bg-yellow" style="margin-right: 4px;" name="pause">Pause</button></div>';
										}else{
											$action = '<div class="botones_columna"><button type="submit" class="btn btn-default bg-yellow" style="margin-right: 4px;" name="pause">Pause</button>
			                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="redirectAction(\'home\',\'borrar\',\''.$c->id.'\',\'Are you sure you want to delete the campaign?\')">Delete</button>
			                            </div>';
										}	 
			                        }
					                 //traigo el cliente por el grupo	
					                 $group->GetById($c->group_id);
            
					                 $tabla->agregarFilaForm("index.php","post",array(
					                            $j.'<input type="hidden" name="id" value="'.$c->id.'" />',
					                            $user->GetUsername($group->id_user),
					                            $group->name,
					                            $c->date,
					                            ($c->type == "text")?$c->content:'<a class="btn btn-default bg-blue" href="message_record'.$contenido.'" target="_blank">Show</a>'.$caption,
					                            $c->type,
					                            $sent.' / '.$c->cant_total,
					                            $c->status,
					                            $action
					                         )
					                    ); 
					                  ?>                                  
					                  <?php
					                  $j++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h4>No messages to send</h4>  
					              <?php
					              }
					              ?>					             
                            </div><!-- /col-lg-8 -->
                     
                     <!--tabla-->
                     
                     
                       
  
                    </div><!-- /.row (main row) -->

            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>
