<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/login.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p style="color: #3C8DBC;">Hello, <?=$_SESSION['username']?></p>

                <a href="#" style=<?php if($user->credits > 0){echo'"color:#00A65A;"';}else{echo'"color:#F56954;"';}?>>Credits Available: <?=$user->credits?></a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="index.php">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-user"></i> Users <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newuser">New User</a></li>    
					<li><a href="index.php?apartado=moduser">Edit Users</a></li>   
				</ul>
			</li>
        
        	<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-mobile"></i> Senders <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newsender">New Sender</a></li>    
					<li><a href="index.php?apartado=modsender">Edit Senders</a></li>
					<li><a href="index.php?apartado=importsender">Import Senders</a></li>   
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-mobile"></i> Registration <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=registration">Request Code</a></li>    
					<li><a href="index.php?apartado=registration_sender">Register Sender</a></li>					
				</ul>
			</li>
			
			<!--<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa  fa-code-fork "></i> Proxy <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newproxy">New Proxy</a></li>    
					<li><a href="index.php?apartado=modproxy">Proxy List</a></li> 
				</ul>
			</li>-->
			
			
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-envelope"></i> Messages Sent <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=msgsended&type=bulk">Bulk Messages</a></li>    
					<li><a href="index.php?apartado=msgsended&type=single">Single Messages</a></li>					
				</ul>
			</li>
			
			
			<li class="active">
                <a href="index.php?apartado=error_send">
                    <i class="fa fa-exclamation-triangle"></i> <span>Log Error</span>
                </a>
         	</li>
        	<li>
                <a href="index.php?apartado=listen">
                    <i class="fa fa-comment"></i> <span>Replies</span>
                </a>
         	</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-dropbox"></i> Packages <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newpackage">New Package</a></li>    
					<li><a href="index.php?apartado=modpackage">Edit Packages</a></li>   
				</ul>
			</li>
			<li class="active">
                <a href="index.php?apartado=settings">
                    <i class="fa fa-cog"></i> <span>Settings</span>
                </a>
         	</li>
        
        </ul>
        	
    </section>
    <!-- /.sidebar -->
</aside>