<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/login.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p style="color: #3C8DBC;">Hello, <?=$_SESSION['username']?></p>

                <a href="index.php?apartado=packages" style=<?php if($user->credits > 0){echo'"color:#00A65A;"';}else{echo'"color:#F56954;"';}?>>Credits Available: <?=$user->credits?></a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="index.php">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="index.php?apartado=singlemessage">
                    <i class="fa fa-envelope"></i> <span>Single Message</span>
                </a>
            </li>
            <li>
                <a href="index.php?apartado=bulkmessage">
                    <i class="fa fa-envelope"></i> <span>Bulk Message</span>
                </a>
            </li>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-envelope"></i> Messages Sent <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=msgsended&type=bulk">Bulk Messages</a></li>    
					<li><a href="index.php?apartado=msgsended&type=single">Single Messages</a></li>					
				</ul>
			</li>
            <li>
                <a href="index.php?apartado=listen">
                    <i class="fa fa-comment"></i> <span>Replies</span>
                </a>
         	</li>           
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-users"></i> Groups <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newgroup">New Group</a></li>    
					<li><a href="index.php?apartado=modgroup">Edit Groups</a></li>   
					<li><a href="index.php?apartado=newcontact">Add Contact to a group</a></li>    
					<li><a href="index.php?apartado=modcontact">Edit Contacts of a group</a></li>
					<li><a href="index.php?apartado=importgroup">Import contacts from CSV file</a></li>
				</ul>
			</li>
			
			<li>
                <a href="index.php?apartado=packages">
                    <i class="fa fa-dropbox"></i> <span>Packages</span>
                </a>
         </li>
         
         <li class="active">
                <a href="index.php?apartado=settings_user">
                    <i class="fa fa-cog"></i> <span>Settings</span>
                </a>
         </li>
        
        </ul>
        	
    </section>
    <!-- /.sidebar -->
</aside>