<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php require_once("views/head/head.phtml"); ?>
<body>
    <?php require_once("views/body/cabecera.phtml"); ?>
	
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>
        
        <!-- Main content -->
      <aside class="right-side">
       <section class="content">
       
       <section class="content-header">
            <h2>
                Proxy
                <small>Proxy List</small>
            </h2>
            <ol class="breadcrumb">
                <li class="active">Select one of the proxies to edit or delete.</li>
            </ol>
        </section>  
        
        <?php 
        $f = new Formularios();
        if(isset($result))
			$f->alert($result['msg'],$result['state']); 
        $f->generarForm();
        ?>       

      <div class="row">
          <div class="col-lg-8">
            <?php            
             if(count($proxys)!=0)
              {
                $tabla = new Tablas();
                $tabla->cabecera("");
                $tabla->inicioTabla(array("N&deg;","IP","Port","Type","Status","Enable","Action"));
                          
                $i=1;
                foreach($proxys as $u)
                {  
                  $tabla->agregarFilaForm("index.php","post",array(
                            $i.'<input type="hidden" name="id" value="'.$u->id.'" />
                            <input type="hidden" name="apartado" value="modproxy" />',
                            $u->ip,
                            $u->puerto,
                            $u->GetTipo(),
                            ($u->estado == 'Online')?'<span style="color:#00A65A;">Online</span>':'<span style="color:#F56954;">Offline</span>',
                            ($u->habilitado == 1)?"Yes":"No",                            
                            '<button type="submit" class="btn btn-default bg-yellow" name="editar">Edit</button>
                            <button type="submit" class="btn btn-default bg-green" name="conexion">Test Connection</button>
                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="holas(\'modproxy\',\''.$u->id.'\')">Delete</button>'
                          ) 
                    ); 
                  ?>                                  
                  <?php
                  $i++;
                }

                $tabla->generarTabla();
              }else{?>
                <h3>No proxies in the database</h3>  
              <?php
              }
              ?>
 				</div>
          </div>
          
          
    </section>
   </aside>
    </div><!-- /#wrapper --> 
    
      	<?php require_once("views/footer/footer.phtml"); ?> 
</body>
</html>