<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php require_once("views/head/head.phtml"); ?>

<body>
    <?php require_once("views/body/cabecera.phtml"); ?>
	
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>
        
        <!-- Main content -->
      <aside class="right-side">
       <section class="content">
          <section class="content-header">
            <h2>
                Proxy
                <small></small>
            </h2>
            <ol class="breadcrumb">
                <li class="active">Complete the form below to edit a proxy.</li>
            </ol>
        </section> 
       
        <?php 
        $f = new Formularios();
        if(isset($result))
			$f->alert($result['msg'],$result['state']); 
        $f->inicioForm('post','index.php');
        $f->addHiddenInput('apartado','modproxy');
        $f->addHiddenInput('id',$proxy->id);
        $f->addInput('IP*','ip',$proxy->ip,'txt');
        $f->addInput('Port*','puerto',$proxy->puerto,'txt');
        $f->addComboBox('Type*','tipo',$arr_tipos,$proxy->tipo,'');
        $f->addComboBox('Authentication','autentication',$arr_auth,$proxy->autentication,'');
        $f->addInput('User','user',$proxy->user,'txt');
        $f->addInput('Password','password',$proxy->password,'txt'); 
        $f->addCheckBox('Enable','habilitado',1,$proxy->habilitado);          
        $f->addSubmit('Edit','aceptar','aceptar');
        $f->addClean('Clean');

        $f->generarForm();
        ?>
        </section>
   </aside>
  </div><!-- /#wrapper -->  
  
  	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>