<head>
	<!--<base href="<?php //echo $url_root; ?>" />-->
	<?php require_once("meta_tag.phtml"); ?>
	<title><?php echo $titulo_web;?></title>
	<?php require_once("link_tag.phtml"); ?>   
	<?php require_once("script_tag.phtml"); ?>  
</head>