<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script>
  	function redirectAction(apartado,action,id,msg)
	{
		if(msg.length != "0"){
			if (confirm(msg) == true) {
		   		window.location = '?apartado='+apartado+'&accion='+action+'&id='+id;
			}   
		}else{
			window.location = '?apartado='+apartado+'&accion='+action+'&id='+id;
		}
	}
</script>

<script>
//Funciona para la funcion delete
function holas(apartado,id)
{
	if (confirm("Are you sure you want to delete?") == true) {
	    window.location = '?apartado='+apartado+'&accion=borrar&id='+id;
	}   	
}
</script>
<script>
function checkSender(form)
{
	if (confirm("Are you sure you want to delete?") == false) {
	   	return false;
	}
}
</script>
<script>
function check(form)
{
	if (confirm("Are you sure you want to delete?") == true) {
		var input = document.createElement('input');
	    input.type = 'hidden';
	    input.name = 'borrar';
	    input.value = '';
	    document.forms[form-1].appendChild(input);
	   	document.forms[form-1].submit();
	}   	
}
</script>
<script>
//Funciona para la funcion delete
function borrar(apartado)
{
	if (confirm("Are you sure you want to delete all contacts without WhatsApp?") == true) {
	   window.location = '?apartado='+apartado+'&accion=delete_wa_no';
	}   	
}
</script>
<script>
//Accion redirect
function redirect_to_accion_question(apartado,accion,msg)
{	
	if (confirm(msg) == true) {
	   window.location = '?apartado='+apartado+'&accion='+accion;
	}	   
}
</script>
<script>
function redirect_to_accion(apartado,accion)
{		
	window.location = '?apartado='+apartado+'&accion='+accion;	   
}
</script>
<script>
//Submit
function submit_question(element_form,accion,msg)
{		
	if (confirm(msg) == true) {
			   
	   var h = document.createElement("input");
                h.type = "hidden";
                h.name = "accion";
                h.value = accion;
                element_form.appendChild(h);
	   element_form.submit();
	}	   
}
</script>
<script>
function id_group_onChange ( apartado,primera )
{
	window.location = "?apartado="+apartado+"&group=" + primera;
}
</script>
<script>
function submitValue(apartado,id_clave,id_valor)
{
	var id = document.getElementById(id_clave).value;
	var valor = document.getElementById(id_valor).value;
	
	window.location = "?apartado="+apartado+"&id=" + id + "&valor=" + valor;
}
</script>
