<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Replies
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Replies</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                 <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			        </div><!-- /.row -->
			        
			        <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                           <div class="row">
					               <div class="col-lg-12">
							              <div class="box box-primary">
		                                <div class="box-header">
		                                    <h3 class="box-title">Search</h3>
		                                </div><!-- /.box-header -->
		                           
				                           <div class="box-body">  
							                	<form role="form" method="post" action="index.php">
													<input type="hidden" name="apartado" value="listen"/>
													<div class="form-group">
										                <label>Listening date</label>
										                <input type="date" class="form-control" placeholder="YYYY-MM-DD" name="fecha_escucha" id="fecha_escucha" value="<?=$value?>">
											         </div>
											         
													<button type="submit" class="btn btn-default bg-blue" name="search" value="search">Search</button>														
												</form>
												<br />												
											</div><!--box-body-->
			          					</div><!--box-primary-->
			          				</div>
			          	</div><!-- /.row -->
			        
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-12">
	                            <?php            
					              
					              
					              if(isset($listens) && !empty($listens))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of replies");
					                $tabla->inicioTabla(array("N&deg;","From","Content","To","Date","Listening date","Action"));
					                          
					                $i=1;                
					                foreach($listens as $n)
					                {  
					                	$sender->GetById($n->sender);
					                	
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $i.'<input type="hidden" name="id" value="'.$n->id.'" />
					                            <input type="hidden" name="apartado" value="modlisten" />',
					                            $n->numero,
					                            $n->contenido,
					                            $sender->numero,
					                            $n->fecha,
					                            $n->fecha_escucha,
					                            '
					                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="holas(\'listen\',\''.$n->id.'\')">Delete</button>
					                            </div>'
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $i++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h2>No replies on the database.  </h2>  
					              <?php
					              }
					              ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>
